/* styles.css */

/* Apply a global style to set the color of all text to black */
body, div, a {
  color: black;
}

/* Add specific styles for your LoginPage component if needed */
.linkpagebg {
  /* Add any additional styles for the parent container */
  display: block;
}

/* Add styles for the LOGIN text */
.linkpagebg div {
  font-size: 24px; /* Example font size */
  font-weight: bold; /* Example font weight */
  /* Add any additional styles for the LOGIN text */
}

/* Add styles for the links */
.linkpagebg a {
  display: block; /* Make links block-level for better spacing */
  margin-bottom: 10px; /* Example margin between links */
  /* Add any additional styles for the links */
}

.loginform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Adjust to your layout */
}

input{
  border: 1px solid #ccc;
  display:grid;
  border-radius:3px;
  background-color:#EEEEEE;
}


.login-button{
  width: 100%;
  background-color: #473C38;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #3B302C;
}

.login-form{

  padding: 25px 35px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px #473C38;

}