.concierge {
    background-image: url("https://media.discordapp.net/attachments/775346740122484750/1191804529746923622/c.png?ex=65a6c576&is=65945076&hm=a02a154751351bd1ec95448b55fd1d5c6f2661803d99147d0c65675f098eed97&=&format=webp&quality=lossless&width=2022&height=1138");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }