.concierge {
  background-image: url("https://media.discordapp.net/attachments/775346740122484750/1195559601567961118/concierge.png?ex=65b46ea5&is=65a1f9a5&hm=711a9aa30ef6632025c3dba167f88acbe2e32c2d8479023128570bcbf75eeef0&=&format=webp&quality=lossless&width=1664&height=936");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}