.payment {
    background-image: url("https://media.discordapp.net/attachments/775346740122484750/1195624499165544448/payment.png?ex=65b4ab16&is=65a23616&hm=760c30773bccd95e9eef44fac586a6007117978f5fd21db4a4fd4efc789e87c9&=&format=webp&quality=lossless&width=1664&height=936");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
