.housekeeping {
    background-image: url("https://media.discordapp.net/attachments/775346740122484750/1191804532292861982/hk.png?ex=65a6c577&is=65945077&hm=f8674682d655acad7d879f50b76a3875c72005f0cdd6c1005d7df61819a9294e&=&format=webp&quality=lossless&width=2022&height=1138");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }