/* CheckedInScreen.css */

.checkedin-screen {
  background-image: url("https://media.discordapp.net/attachments/775346740122484750/1195559603010809957/frontdesk.png?ex=65b46ea5&is=65a1f9a5&hm=82b44e01a9b603d81c9cbf245659e7ac470aac90415b57b9da01f9fa4b7e8ba8&=&format=webp&quality=lossless&width=1664&height=936");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  .table {
    width: 100%; 
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid white;
    color: black;
  }
  
  th {
    color: white;
  }
  
  thead {
    background-color: #473C38;
  }
  
  tbody {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .checkout-button {
    background-color: maroon;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .checkout-button:hover {
    background-color: red;
  }
  