/*
.booking-screen {
  background-image: url("https://media.discordapp.net/attachments/775346740122484750/1191804531034558524/fd.png?ex=65a6c576&is=65945076&hm=75c066dd0fd9fe1583ac31b73d025c7609003de7846431c4a976c853c05ee666&=&format=webp&quality=lossless&width=2022&height=1138");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  .text{
    color: rgb(0, 0, 0) ;
    font-weight: bolder;
  }
  
  .button1{
    border: 5px;
    border-radius: 5px;
    border-width: 10px;
    color: rgb(137, 15, 15) ;
  }


*/