.housekeeping {
  background-image: url("https://media.discordapp.net/attachments/775346740122484750/1195559604109709372/housekeeping.png?ex=65b46ea6&is=65a1f9a6&hm=1031b4411b95914f6641e01064e3e64b585f0a87bd3ef2ba932a3d94cb1959d9&=&format=webp&quality=lossless&width=1664&height=936");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}