.kitchen {
  background-image: url("https://media.discordapp.net/attachments/775346740122484750/1195559605275738123/kitchen.png?ex=65b46ea6&is=65a1f9a6&hm=d39c187240bd6c6070fd20c263a404ecc05de163aaf639fe0d66e365e51619c5&=&format=webp&quality=lossless&width=1664&height=936");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}