.kitchen {
    background-image: url("https://media.discordapp.net/attachments/775346740122484750/1191804533534380132/k.png?ex=65a6c577&is=65945077&hm=3f98d014e7978d2faef99cc6c499cf164abf2fdb88108d58dcfeccf17e55baa3&=&format=webp&quality=lossless&width=2022&height=1138");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }